 <h1>Sons</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Name</th>
                <th>Duration</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
        {% if songs %}
            {% for song in songs %}
                <tr>
                    <td>{{ song.name }}</td>
                    <td>{{ song.duration }}</td>
                    <td>
                        <a href="{{ path('app_song_show', {'id': song.id}) }}">Voir</a>
                        {% if is_granted('ROLE_ARTIST') %}
                            <a href="{{ path('app_song_edit', {'id': song.id}) }}">Modifier</a>
                        {% endif %}
                    </td>
                </tr>
            {% else %}
                <tr>
                    <td colspan="5">Sons vide</td>
                </tr>
            {% endfor %}
        {% endif %}
        </tbody>
    </table>

 {% if is_granted('ROLE_ARTIST') %}
    <a href="{{ path('app_song_new') }}">Ajouter un son</a>
 {% endif %}
